<!--<h1>Books#new</h1>-->
<!--<p>Find me in app/views/books/new.html.erb</p>-->

<!--#サクセスメッセージの表示-->
<p id="notice">
 <%= notice %>
</p>

<!--ここに最近の投稿一覧が入る-->
<h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>body</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
          <td>
            <%= link_to "Show", "/books/new/#{book.id}" %>
            <!--<%= link_to "Show", books_new_path(book.id) %> この記述だとうまくいかなかった-->
            <%= link_to "Edit", "/books/new/#{book.id}/edit" %>
            <%= link_to "Destroy", "/books/new/#{book.id}" ,  method: :delete, "data-confirm" => "Are you sure?" %>
            <br>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>


<% if model(変更).errors.any? %>
  <div model（変更） ="alert alert-warning">
    <ul>
      <% model（変更）.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!--rails4章-->
<h2>New book</h2>
<!-- form_with部分 -->
<%= form_with model: @book, url:books_path, local:true do |f| %>
<%= f.text_field :title %>
  <h4>body</h4>
  <%= f.text_area :body %>
  <br>
  <%= f.submit 'Create Book' %>
<% end %>